@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #17183a;
}

#scale-stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 2475px;
    height: 1320px;
    transform-origin: top left;
    background-color: #282b53;
}


.DEV{
    outline: 5px solid rgb(255, 75, 75);
    background-color: #ffa7e9;
}

.Round{
    border-radius: 30px;
}

.Label{
    margin-top: -26px;
    margin-bottom: 26px;
    height: 75px;
    background-color: rgb(12, 8, 34);
    box-shadow: 0 0px 20px rgba(2, 3, 27, 0.349);
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}

.WelcomeText{
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 700;
    line-height: 1;
}


 a {
    color: rgb(224, 228, 250);
    text-decoration: none;
 }

a:link{
    color: rgb(224, 228, 250);
    text-decoration: none;
}

a:visited{
    color: rgb(224, 228, 250);
    text-decoration: none;
}

a:hover{
    color: rgb(176, 189, 247);
    text-decoration: none;
}

a:active{
    color: rgb(44, 55, 105);
    text-decoration: none;
}

.Wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 2475px;
    height: 1320px;
    padding-left: 275px;
    box-sizing: border-box;

    background-color: #282b53;
    background-image: linear-gradient(to right, #17183a 0, #17183a 275px, #282b53 275px, #282b53 100%);
    box-shadow: none;
    border-radius: 0;
}

.Total{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #17183a;

    width: 275px;
    height: 250px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

.Total-Amount{
    margin-top: 80px;
    font-size: 45px;
    text-align: center;
    font-family: 'Lexend';
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.Total-Amount-Label{
    font-size: 15px;
    text-align: center;
    font-family: 'Lexend';
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin-top: -35px;
}

.Nav{
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 5;
    width: 275px;
    height: 770px;
    text-align: left;
    color: rgb(204, 209, 255);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 100;
    margin: 0;
    border-radius: 0;

     background-color: #17183a;
     box-shadow: none;
}

.NavButton{
    width: 235px;
    height: 65px;
    margin: -25px 0 0 20px;

    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;

    color: rgb(204, 209, 255);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 200;
    line-height: 65px;
    background-color: #252649;
    box-shadow: 0 0px 10px rgba(29, 29, 53, 0.685);
}

.NavButton:hover{
    width: 235px;
    height: 65px;
    margin: -25px 0 0 20px;

    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 700;
    line-height: 65px;
    background-color: #3d3e74;
    box-shadow: 0 0px 25px rgba(68, 68, 168, 0.685);
}

.CurrentPage{
    width: 235px;
    height: 65px;
    margin: -25px 0 0 20px;

    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lexend';
    font-weight: 700;
    line-height: 65px;
    background-color: #3d3e74;
    box-shadow: 0 0px 25px rgba(68, 68, 168, 0.685);
}

.Icon{
    position: relative;
    top: 11px;
    margin-left: -20px;
}

.Footer{
    position: absolute;
    left: 0;
    top: 1020px;
    z-index: 4;
    width: 2475px;
    height: 300px;
    margin: 0;
    text-align: left;
    font-size: 15px;
    font-family: 'Lexend';
    font-weight: 100;
    color: rgb(255, 255, 255);

    box-shadow: 0 0px 30px rgb(0, 0, 0);
    background-color: #080814;
}

.Logo{
    position: relative;
    top: -100px;
    left: 25px;
}